# Ignore everything to start
*
trane_test.py
__pycache__
__pycache__/*

# Folder-structure
!*/
!*/*/
!*/*/*/
!*/*/*/*/
!*/*/*/*/*/
!*/*/*/*/*/*/
!*/*/*/*/*/*/*/

# Misc
!README
!README.md
!.gitignore
!*.txt
!*.pyda

# TeX
!*.tex
# testes testes
# Python
!*.py

# Dot
!*.dot
